<svg class="x" width="320" height="415" viewbox="0 0 320 415">
  <g class="x--grad" clip-path="url(#x-mask)">
    <image id="splash" class="x--splash"
      xlink:href="{{ '/assets/imgs/x-splash.jpg' | relative_url }}"
      x="-160" y="-100" width="640" height="640" />
    <image id="sunsetX" class="x--sunset"
      xlink:href="{{ '/assets/imgs/x-sunset.jpg' | relative_url }}"
      x="-160" y="-100" width="640" height="640" />
  </g>

  <defs>
    <clipPath id="x-mask">
      <polygon class="x--mask" points="4,0 67,0 160,167 255,0 316,0 190,202 320,415 258,415 155,242 61,415 0,415 126,205"/>
    </clipPath>
  </defs>
</svg>
