---
---
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('â˜ºï¸Ž'),
       url("{{ '/assets/fonts/Poppins/Poppins-Light.ttf' | relative_url }}") format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('â˜ºï¸Ž'),
       url("{{ '/assets/fonts/Poppins/Poppins-Regular.ttf' | relative_url }}") format("truetype");
}

@font-face {
  font-family: 'Arbutus Slab';
  font-style: normal;
  font-weight: 400;
  src: local('â˜ºï¸Ž'),
       url("{{ '/assets/fonts/Arbutus_Slab/ArbutusSlab-Regular.ttf' | relative_url }}") format("truetype");
}
