<nav class="menu">
  <a href="/resume">Resumé</a>
  <a href="https://github.com/exacs">Github</a>
  <a href="https://www.linkedin.com/in/saitocarlos/">Linkedin</a>
  <a href="mailto:carlos@saito.style">E-mail</a>
</nav>
