<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colophon | saito.style</title>
  </head>
  <body>
    {% include "nav.njk" %}
    <main>
      <h1>Colophon</h1>
      <p>
        Thanks for visiting my website and extra thanks for reading this page.
      </p>
      <p>This website:</p>
      <ul>
        <li>Does not track you, so you don't need to accept any cookies</li>
        <li>
          Is accessible and complies with all level A success criteria in WCAG
          2.1
        </li>
        <li>
          The content is written by a real human. No LLM-based text generators
          are used
        </li>
        <li>Is permanently under construction</li>
      </ul>
      <hr />
      <!--
      <p>Here are some ideas that I want to include in the future</p>
      <ul>
	<li>A clock!</li>
      </ul>
      -->
    </main>
  </body>
</html>
