@import url("/assets/stylesheet.css");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

main {
  padding-block-start: 2rem;
  padding-block-end: 4rem;
  padding-inline: 1rem;
  margin: auto;
  max-width: 40rem;
}
h1 {
  font-family: "Work Sans";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 0.2rem;
  margin: 0;
}

p {
  margin: 0;
  border: 2px solid black;
  font-size: 2.25rem;
  font-family: "Playfair Display";
  padding: 2rem;
}

.clock {
  display: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  justify-content: space-between;
  font-family: "Work sans";
  font-weight: 600;
  font-size: 1.5rem;
}

nav a {
  color: black;
}
