<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>saito.style</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <main>
      <h1>Carlos Saito</h1>
      <p>
        Versatile full-stack web developer.<br />
        Experienced with Node.js, TypeScript and React
      </p>
      <div class="clock">Clock</div>
      <nav>
        <a href="/resume">Resumé</a>
        <!-- <a href="/resume">Notes</a> -->
        <a href="/contact">Contact</a>
        <a href="/colophon">Colophon</a>
      </nav>
    </main>
  </body>
</html>
