<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>saito.style</title>
    <link rel="stylesheet" href="./assets/index.css" />
  </head>
  <body>
    <main>
      <h1>Carlos Saito</h1>
      <p>
        Versatile full-stack web developer.<br />
        Experienced with Node.js, TypeScript and React<br />
        <small>With preference in pure HTML, CSS and JavaScript.</small>
      </p>
      <div class="clock">Clock</div>
      {% include "nav.njk" %}
    </main>
  </body>
</html>
