---
layout: "layouts/page.njk"
title: Resume
---

<main>
  <h1>Resume</h1>
  <p>
    Full-stack developer with 7 years of experience from PHP+CSS2 (early 2010)
    to Node.JS+React. Worked as developer and UX engineer
  </p>
  <h2>Work experience</h2>
  <h3>
    <span class="date">2020-2024</span>
    <span>
      KTH Royal Institute of Technology. Full-stack developer, UX engineer
    </span>
  </h3>
  <div class="under-h3">
    <p>
      Worked in the e-learning team, the team responsible for digital learning
      at KTH
    </p>

    <h4>2020-2021: E-learning under COVID-19 pandemic</h4>
    <p>
      API design, integration, Node.js, Express.js, TypeScript, MongoDB, Docker,
      Azure
    </p>
    <p>
      The pandemic forced KTH to close its campus and be completely digital. As
      such, the “digital” environment that we were responsible for, became, the
      only learning environment. We developed tools in record time to enable
      digital examinations for hundred of courses (and thousands of students)
    </p>
    <ul>
      <li>
        <a href="https://github.com/kth/lms-activity-rooms">
          LMS Activity Rooms in GitHub
        </a>
      </li>
      <li>
        <a href="https://github.com/kth/transfer-to-ladok">
          Transfer to Ladok in GitHub
        </a>
      </li>
    </ul>

    <h4>2021-2023: Scanned paper exams</h4>
    <p>API design, Node.js, Express.js, TypeScript, React, Docker, Azure</p>
    <p>
      Developed a tool to import paper exams from a scanning system into the
      Learning Management System so that teachers can grade them digitally.
      <a href="https://github.com/kth/scanned-exams">Import Exams in Github</a>
    </p>

    <h4>2023-2024: Personal Menu</h4>
    <p>
      Frontend, backend, API design, UI design, UX, Node.js, Express.js,
      TypeScript, Docker, Azure
    </p>
    <p>
      Developed "The personal menu" a navigation bar where students and teachers
      can find links relevant to them: the courses they teach/attend, etc. We
      developed microservices and used the different APIs of our systems to
      curate and order the information to the users.
      <a href="https://github.com/kth/kpm">KPM repo</a>
    </p>

    <h4>2024: KTH Style</h4>
    <p>UI design, frontend, UX, accessibility, HTML, CSS, TypeScript</p>
    <p>
      KTH has a new visual identity and I was part of the project "KTH Style",
      the design system which include guidelines and styles to help developers
      with accessibility and usability.
      <a href="https://github.com/kth/style">KTH Style repository</a>
    </p>
  </div>

  <h3>
    <span class="date">2018-2020</span>
    <span>Findout Technologies AB. Full-stack developer consultant</span>
  </h3>
  <div class="under-h3">
    <p>
      Worked as developer consultant for KTH Royal Institute of Technology at
      the e-learning team, team responsible for the digital learning environment
      at KTH, making microservices in Node.js to sync data between KTH’s
      internal systems and Canvas –an externally developed Learning Management
      System–
    </p>
    <ul>
      <li>
        <a href="https://github.com/kth/lms-course-rooms-batch">
          LMS course rooms batch in GitHub
        </a>
      </li>
      <li>
        <a href="https://github.com/kth/lms-sync-users">
          LMS Sync Users in GitHub
        </a>
      </li>
    </ul>
  </div>

  <h3>
    <span class="date">2017-2018</span>
    <span>
      COAM (Official College of Architects of Madrid). Freelance full-stack
      developer
    </span>
  </h3>
  <div class="under-h3">
    <p>
      Developer of “Revista Arquitectura”, the web of the COAM’s magazine. Adapt
      the paper magazine designed by architects into a web; develop the whole
      website (front-end and back-end) from scratch to the deployment and
      maintenance.
    </p>
  </div>

  <h3>
    <span class="date">2017</span>
    <span>Common Action Forum. Part-time full-stack developer trainee</span>
  </h3>
  <div class="under-h3">
    <p>
      Developer of the “Ontag” project, an open-source tool for journalists
      aimed to give answers to relevant questions through annotations on news
      articles. Part of a multidisciplinary and international team formed by
      journalists, sociologists and data scientists
    </p>
  </div>

  <h2>Education</h2>
  <h3>
    <span class="date">2013-2018</span>
    <span>
      Computer Engineer Undergraduate (4 years). Technical University of Madrid
    </span>
  </h3>
  <div class="under-h3">
    <p>
      In the 2017-2018 course, I was enrolled in the Erasmus exchange programme
      and studied in Uppsala University. I did my Degree Project there.
    </p>
    <p>
      In Madrid, while studying, I worked as volunteer in places like Medialab
      Prado and in events such as ”Codemotion Madrid”
    </p>
    <p>
      I provided some courses like web development and Japanese while I was
      studying
    </p>

    <hr />
    <p>
      Languages: I can Spanish and Japanese as native, English and Swedish
      competently. And I wish I could speak even more languages!
    </p>
    <p>
      Programming: while I have broad experience with Node.js and
      TypeScript/JavaScript, I also have some side-projects written in Rust
    </p>
  </div>
</main>
