---
layout: "layouts/page.njk"
title: Resume
---

<main>
  <h1>Resume</h1>
  <p>Versatile Full-Stack Developer and UX Engineer.</p>
  <h2>Work experience</h2>
  <h3>
    <span class="date">2020-2024</span>
    <span>
      KTH Royal Institute of Technology. Full-stack developer, UX engineer
    </span>
  </h3>
  <div class="under-h3">
    <h4>2020-present: E-learning</h4>
    <p>
      Development of digital examination tools during the COVID-19 pandemic,
      transforming KTH’s learning environment to fully online. Key contributions
      included:
    </p>
    <ul>
      <li>
        API design and serverless integration: Node.js, Express.js, TypeScript,
        MongoDB, Azure Functions, Docker, Azure Cloud
      </li>
      <li>Frontend: React, TypeScript…</li>
      <li>
        Developed tools for digital examinations, impacting hundreds of courses
        and thousands of students.
      </li>
    </ul>

    <h4>2021-2023: Transfer to Ladok &amp; Scanned paper exams</h4>
    <p>API design, Node.js, Express.js, TypeScript, React, Docker, Azure</p>
    <p>
      Designed and implemented a solution for importing scanned paper exams into
      the Learning Management System and extracting grades from it, enabling
      digital grading for educators. Node.js, Express.js, TypeScript, React,
      MongoDB, Docker, Azure Cloud
    </p>

    <h4>2023-2024: Personal Menu</h4>
    <p>
      Developed a user-friendly navigation bar for students and teachers,
      curating relevant course links through microservices and APIs.
    </p>
    <ul>
      <li>Involved in frontend and backend development, UI/UX design.</li>
    </ul>

    <h4>part-time, 2024-present: KTH Style</h4>
    <p>UI design, frontend, UX, accessibility, HTML, CSS, TypeScript</p>
    <p>
      Contributed to the design system project "KTH Style," focusing on UI
      design, accessibility, and usability. Lead the implementation of KTH new
      visual identity
    </p>
    <ul>
      <li>Developed guidelines and styles to enhance developer experience.</li>
      <li>HTML, CSS, JavaScript, WCAG</li>
    </ul>
  </div>

  <h3>
    <span class="date">2018-2020</span>
    <span>Findout Technologies AB.Full-stack developer consultant</span>
  </h3>
  <div class="under-h3">
    <p>
      Developing microservices in Node.js and serverless solutions for data
      synchronisation between KTH’s internal systems and the Canvas Learning
      Management System.
    </p>
  </div>

  <h3>
    <span class="date">2017-2018</span>
    <span>
      COAM (Official College of Architects of Madrid). Freelance full-stack
      developer
    </span>
  </h3>
  <div class="under-h3">
    <p>
      Developed the “Revista Arquitectura” website, translating a traditional
      paper magazine into a fully functional web platform. Handled end-to-end
      development from design to deployment.
    </p>
  </div>

  <h3>
    <span class="date">2017</span>
    <span>Common Action Forum. Part-time full-stack developer trainee</span>
  </h3>
  <div class="under-h3">
    <p>
      Contributed to the "Ontag" project, creating an open-source tool for
      journalists that enhances news articles with relevant annotations,
      collaborating in a multidisciplinary team.
    </p>
  </div>

  <h2>Education</h2>
  <h3>
    <span class="date">2013-2018</span>
    <span>
      Computer Engineer Undergraduate (4 years).Technical University of Madrid
    </span>
  </h3>
  <div class="under-h3">
    <p>
      Participated in the Erasmus exchange program at Uppsala University during
      the 2017-2018 academic year, completing my Degree Project there.
    </p>
    <p>Volunteered at Medialab Prado and events like "Codemotion Madrid."</p>
    <p>Offered web development and Japanese courses while studying.</p>

    <hr />
    <p>
      Languages: Native Spanish and Japanese, competent in English and Swedish
    </p>
    <p>Programming: Node.js, TypeScript/JavaScript, Rust (side projects)</p>
  </div>
</main>
